@import '../style/variables';
@import '../style/zero';
@import '../style/style';



  @media screen and (max-width:770px) {
    .conteiner_log{
    display: flex;
    .header_logout{
        display: flex;
       
    }    
}
    
    main{
        flex-direction: column;
        .content_bar{
            padding-bottom: 8rem;
        }
           .leftbar{
              position: fixed ;
              padding-top: 0;
              z-index: 300;
              bottom: 0;
              width: 100%;
              display: flex;
              background-color: rgba(16,16,18,.6);
        backdrop-filter: blur(16px); 
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
          
            .leftbar_links_container{
             padding: 1rem 1.75rem;
               gap: 0; 
              display: flex;
              flex-direction: row;
               justify-content: space-between; 
              width: 100%;
              .link{
                gap: 9px;
                display: flex;
                flex-direction: column;
                padding: 0;
                p{
                    display: inline;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
              }
            
              }
              .link_sign_out{
                  display: none;
              }
            }
            }}
}
@media screen and (max-width:640px) {
    .card_community{
     width: 100%;
    }

    main .leftbar .leftbar_links_container .link p{
        display: none;
    }
    .sighin_container{
        p{
            display: none;
        }
    }
}
@media screen and (min-width:771px) {
    main{
         .leftbar{
               position: sticky; 
             top: 0; 
            left: 0;   
               height: 100vh;   
              display: flex; 
             flex-direction: column; 
             padding-top: 5.5rem; 
          background-color: $main-background;  
        }}
}


  @media screen  and  (max-width:1020px) {
       main .leftbar_links_container{
            .link{
                    display: block ;
              
        border-radius: 0.5rem;
        padding: 1rem;  
        img{
            align-self: center;
        }
         a{
           display: flex;
            align-items: center; 
        } 
                 p{ 
                    display: none;
                     color: $text-color;
                     font-size: larger;
                } 
            }
            .signout_container{
                display: flex;
                
             p{
                display: none;
                color: $text-color;
                font-size: larger;
            } 
            }
        } 
    
  
  }
  @media screen and (min-width: 1260px) {
    .right_side_bar{
        background-color: $main-background;
        width: 318px;
        position: sticky;
    right: 0;
    top: 0;
    height: 100vh;
    }
  }

